<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">ESPORTS<span>HUB</span></a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/proximas">Próximas</a></li>
                <li><a href="/ao-vivo">Ao Vivo</a></li>
                <li><a href="/passadas">Resultados</a></li>
                <li><a href="/torneios">Torneios</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
            <br>
            <p>&copy; 2026 Esports Tracker - Dados via PandaScore API</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/search-teams.js') }}"></script>
</body>
</html>
